<div class="light-group" id="readiness" title="">
    <div class="light-badge checking" id="lightBadge">
        <span class="lbd"></span>
        <span id="lightTxt">CHECKING…</span>
    </div>
    <div class="light-sep"></div>
    <div class="dots-wrap">
        <div class="ld dim" id="ld_camera" title="Camera"></div>
        <div class="ld dim" id="ld_dark" title="Not too dark"></div>
        <div class="ld dim" id="ld_bright" title="Not overexposed"></div>
        <div class="ld dim" id="ld_stable" title="Stable"></div>
        <div class="ld dim" id="ld_even" title="Even light"></div>
    </div>
</div>